<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/about-styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>About Page</h1>
        <img src="/images/robert.webp" alt="robert Atkinson Image" class="robert-image">
        <div class="about-container">
            <p>Rowan Sebastian Atkinson is an English actor, comedian and writer. He was born on 6 January 1955. The youngest of four boys, his parents were Eric Atkinson, a farmer and company director, and Ella May (née Bainbridge), who married on 29 June 1945. His three older brothers are Paul, who died as an infant; Rodney, a Eurosceptic economist who narrowly lost the UK Independence Party leadership election in 2000; and Rupert.</p>
            <p>Atkinson was brought up Anglican, and was educated at the Durham Chorister School, a preparatory school, and then at St Bees School. Rodney, Rowan and their older brother Rupert were brought up in Consett and went to school with the future Prime Minister, Tony Blair, at Durham Choristers. After receiving top grades in science A levels, he secured a place at Newcastle University, where he received a BSc degree in Electrical and Electronic Engineering in 1975. He subsequently obtained an MSc degree in Electrical Engineering at The Queen's College, Oxford in 1975, the same college where his father matriculated in 1935, and which made Atkinson an Honorary Fellow in 2006. His master's thesis, published in 1978, considered the application of self-tuning control.</p>
            <p>Atkinson briefly embarked on a PhD study before devoting his full attention to acting. First winning national attention in The Oxford Revue at the Edinburgh Festival Fringe in August 1976, he had already written and performed sketches for shows in Oxford by the Etceteras – the revue group of the Experimental Theatre Club (ETC) – and for the Oxford University Dramatic Society (OUDS), meeting writer Richard Curtis, and composer Howard Goodall, with whom he would continue to collaborate during his career</p>
        </div>
    </div>
</body>
</html>