<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/works-styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Works</h1>
        <div class="works-container">
            <p>
                Robert Atkinson is most famous for his work on the satirical sketch comedy show Not The Nine O'Clock News, and the sitcoms Blackadder, Mr. Bean, and The Thin Blue Line. He has been listed in The Observer as one of the 50 funniest actors in British comedy, and amongst the top 50 comedy actors ever in a 2005 poll of fellow comedians.
            </p>
            <p>Some of his famous works are shown below &#8595</p>
        </div>
    </div>

    <div class="image-container">
        <img src="/images/blackadder.jpg" alt="blackadder poster">
        <img src="/images/mrbean.jpeg" alt="Mr bean poster">
        <img src="/images/Not-the-Nine-Oclock-News.jpg" alt="Not-the-Nine-Oclock-News Poster">
        <img src="/images/thinblue.jpg" alt="Thin blue poster">
        <img src="/images/johnny.jpg" alt="Johnny English poster">
    </div>

</body>
</html>